<p id="notice"><%= notice %></p>

<h1>タイトル一覧</h1>
<div class="contents">
  <%= text_field_tag :title, "", class: "form-control", id: "js-text_field", placeholder: "タイトルを入力して下さい" %>
</div>

<ul class="js-messages">
  <%= render @messages %>
</ul>

<br>

<%= link_to 'New Message', new_message_path %>
